<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".VaultKernApplication"
        android:allowBackup="false"
        android:label="VaultKern"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".security.BiometricGateActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:noHistory="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".credentials.AutofillAuthActivity"
            android:excludeFromRecents="true"
            android:exported="false" />
        <activity
            android:name=".credentials.PasskeyCreateActivity"
            android:excludeFromRecents="true"
            android:exported="false" />
        <activity
            android:name=".credentials.PasskeyGetActivity"
            android:excludeFromRecents="true"
            android:exported="false" />

        <service
            android:name=".credentials.VaultKernAutofillService"
            android:enabled="true"
            android:exported="true"
            android:label="VaultKern Autofill"
            android:permission="android.permission.BIND_AUTOFILL_SERVICE">
            <intent-filter>
                <action android:name="android.service.autofill.AutofillService" />
            </intent-filter>
            <meta-data
                android:name="android.autofill"
                android:resource="@xml/autofill_service" />
        </service>

        <service
            android:name=".credentials.VaultKernCredentialProviderService"
            android:enabled="true"
            android:exported="true"
            android:label="VaultKern Passkeys"
            android:permission="android.permission.BIND_CREDENTIAL_PROVIDER_SERVICE">
            <intent-filter>
                <action android:name="android.service.credentials.CredentialProviderService" />
            </intent-filter>
            <meta-data
                android:name="android.credentials.provider"
                android:resource="@xml/credential_provider" />
        </service>
    </application>
</manifest>
